[Unit]
Description=Scheduler2
After=syslog.target network.target
[Service]
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/cuda/bin"
Environment="com_camenduru_mongodb_uri=mongodb://127.0.0.1:27017/web2"
Environment="com_camenduru_scheduler2_default_free_total=100"
Environment="com_camenduru_scheduler2_default_paid_total=1100"
Environment="com_camenduru_scheduler2_cron1=0 0 0/12 * * ?"
Environment="com_camenduru_scheduler2_cron2=0 0 0 * * ?"
Environment="com_camenduru_scheduler2_cron3=0 0/10 * * * ?"
Environment="com_camenduru_scheduler2_cron4=0 0/40 * * * ?"
Environment="com_camenduru_scheduler2_cron5=0 0 0 */4 * ?"
WorkingDirectory=/content/com.camenduru/scheduler2
ExecStart=/bin/bash -c 'java -Dserver.port=4002 -jar target/scheduler-2-0.0.1.jar'
Restart=always
[Install]
WantedBy=multi-user.target
